<div class="left">Left Panel
  <ul class="entries-index"></ul>
  <a href="">Make A New Entry</a>
</div>

<div class="right">Right Panel

</div>

<script type="text/javascript">
$(function () {

  var entriesData = <%= Entry.all.to_json.html_safe %>;

  window.JA.initialize(
    $(".entries-index"),
    entriesData
  );
});
</script>